<form [formGroup]="form" (ngSubmit)="addUser()">
  <div class="form-group">
    <label for="name">Nombre </label>
    <input type="text" name="name" formControlName="name">
  </div>

  <div class="form-group">
    <label for="lastName">Apellidos </label>
    <input type="text" name="lastName" formControlName="lastName">
  </div>

  <div class="form-group">
    <label for="address">Dirección </label>
    <input type="text" name="address" formControlName="address">

  </div>

  <div class="form-group">
    <label for="phone">Teléfono </label>
    <input type="text" name="phone" formControlName="phone">
  </div>

  <button type="submit">Añadir</button>
</form>